.travel-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    &__infos {
        margin-right: 1vw;
    }
  }

  &__header {
    margin-bottom: 1rem;
  }

  &__image {
    padding: 0.75rem;
  }
}


// @include media-breakpoint-up(sm) {
//   grid-template-columns: repeat(2, 1fr);
// }

// @include media-breakpoint-up(md) {
//   grid-template-columns: repeat(3, 1fr);
// }

// @include media-breakpoint-up(lg) {
//   grid-template-columns: repeat(4, 1fr);
// }
