.travel-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__header {
    margin-bottom: 1rem;
  }

  &__image {
    padding: 0.75rem;
    img {
      max-width: 100%;
    }
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
    &__infos {
        margin-right: 1vw;
        width: 50%;
    }
  }
}
