<header class="my-5">
  <div class="container">
    <h1>
      <img src="{{ asset('build/images/logo_boby_travel.png') }}" alt="Boby travel logo" width="100" class="me-2">
      Boby Voyages
    </h1>
  </div>
</header>
